*{
  padding:0;
}

/*h1{
  background: black;
  color:white;
}
button{
  background:black;
  color:white;
  padding:5px;
  margin: 5px;
}

input{
  padding:5px;
}
main {
  text-align: center;
  vertical-align: center;
  
}*/
